[core]
    excludesfile = "~/.gitignore_global"

[alias] 
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    aa = add -A

    c = commit --verbose
    cam = commit -a -m
    amend = commit --amend
    
    d = diff
    ds = diff --stat
    dc = diff --cached
    dsc = diff --stat --cached
    
    s = status

    co = checkout
    cob = checkout -b

    br = branch

    unstage = reset HEAD

    la = "!git config -l | grep alias | cut -c 7-"

[color]
    ui = true

[user]
    name = Raghav Subramaniam
    email = raghavs511@gmail.com

