! Raghav Subramaniam
! .Xresources

rofi.modi: drun
rofi.font: Roboto 24
rofi.lines: 4
rofi.color-enabled: true
rofi.color-window: #{{base01}}, #{{base01}}, #{{base01}}
rofi.color-normal: #{{base01}}, #{{base05}}, #{{base01}}, #{{base01}}, #{{base0A}}
rofi.color-active: #{{base01}}, #{{base05}}, #{{base01}}, #{{base01}}, #{{base0A}}
rofi.color-urgent: #{{base01}}, #{{base05}}, #{{base01}}, #{{base01}}, #{{base0A}}
