[alias] 
    s = status

    l = log --oneline --decorate -n 20

    d = diff
    ds = diff --stat

    a = add
    aa = add -A

    c = commit --verbose
    amend = commit --amend

    br = branch

    co = checkout
    cob = checkout -b

    unstage = reset HEAD

[color]
    ui = true

[rerere]
    enabled = true

[user]
    name = Raghav Subramaniam
    email = raghavs511@gmail.com
