[submodule "vim/.vim/pack/plugins/start/Apprentice"]
	path = vim/.vim/pack/plugins/start/Apprentice
	url = https://github.com/romainl/Apprentice.git
	branch = master
[submodule "vim/.vim/pack/plugins/start/editorconfig-vim"]
	path = vim/.vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	branch = master
[submodule "vim/.vim/pack/plugins/start/vim-qf"]
	path = vim/.vim/pack/plugins/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
	branch = master
[submodule "vim/.vim/pack/plugins/start/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "vim/.vim/pack/plugins/start/vim-repeat"]
	path = vim/.vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "vim/.vim/pack/plugins/start/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
