[submodule "vim/.vim/pack/bundle/start/apprentice"]
	path = vim/.vim/pack/bundle/start/apprentice
	url = https://github.com/romainl/apprentice.git
	branch = master
[submodule "vim/.vim/pack/bundle/start/vim-commentary"]
	path = vim/.vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "vim/.vim/pack/bundle/start/vim-indent-object"]
	path = vim/.vim/pack/bundle/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
	branch = master
[submodule "vim/.vim/pack/bundle/start/vim-qf"]
	path = vim/.vim/pack/bundle/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
	branch = master
[submodule "vim/.vim/pack/bundle/start/vim-repeat"]
	path = vim/.vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "vim/.vim/pack/bundle/start/vim-surround"]
	path = vim/.vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
